<div>
  <select (change)="selectCountry($event.target.value)">
    <option value="0"></option>
    <option *ngFor="let country of data.countries" [value]="country.id" [selected]="country.id === countryId">{{ country.name }} ({{ country.code }})</option>
  </select>
</div>
<div>
  <select (change)="selectRegion($event.target.value)">
    <option value="0"></option>
    <option *ngFor="let region of data.regions" [value]="region.id" [selected]="region.id === regionId">{{ region.name }} ({{ region.code }})</option>
  </select>
</div>
<div>
  <select (change)="selectDistrict($event.target.value)">
    <option value="0" selected></option>
    <option *ngFor="let district of data.districts" [value]="district.id">{{ district.name }} ({{ district.code }})</option>
  </select>
</div>
